<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jet.scm.web.spem.mapper.PipScmFrozenboxTransportMapper">
  <resultMap id="BaseResultMap" type="com.jet.scm.web.spem.domain.PipScmFrozenboxTransport">
    <result column="BOX_CODE" jdbcType="VARCHAR" property="boxCode" />
    <result column="BOX_TYPE" jdbcType="VARCHAR" property="boxType" />
    <result column="RECEIVE_DATE" jdbcType="DATE" property="receiveDate" />
    <result column="CHECKINLIST_ID" jdbcType="VARCHAR" property="checkinlistId" />
    <result column="RCC_CODE" jdbcType="VARCHAR" property="rccCode" />
    <result column="FROZENTUBE_NUM" jdbcType="DECIMAL" property="frozentubeNum" />
    <result column="SAMPLE_NUM" jdbcType="DECIMAL" property="sampleNum" />
    <result column="PORTION" jdbcType="DECIMAL" property="portion" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RECEIVE_OPERATOR" jdbcType="VARCHAR" property="receiveOperator" />
    <result column="FROZENBOX_ID" jdbcType="VARCHAR" property="frozenboxId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="TRANS_DETAIL_ID" jdbcType="VARCHAR" property="transDetailId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BOX_CODE, BOX_TYPE, RECEIVE_DATE, CHECKINLIST_ID, RCC_CODE, FROZENTUBE_NUM, SAMPLE_NUM, 
    PORTION, REMARK, RECEIVE_OPERATOR, FROZENBOX_ID, CREATE_TIME, CREATE_BY, UPDATE_TIME, 
    UPDATE_BY, TRANS_DETAIL_ID
  </sql>
  <select id="selectByExample" parameterType="com.jet.scm.web.spem.domain.PipScmFrozenboxTransportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PIP_SCM_FROZENBOX_TRANSPORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.jet.scm.web.spem.domain.PipScmFrozenboxTransport">
    insert into PIP_SCM_FROZENBOX_TRANSPORT (BOX_CODE, BOX_TYPE, RECEIVE_DATE, 
      CHECKINLIST_ID, RCC_CODE, FROZENTUBE_NUM, 
      SAMPLE_NUM, PORTION, REMARK, 
      RECEIVE_OPERATOR, FROZENBOX_ID, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY, 
      TRANS_DETAIL_ID)
    values (#{boxCode,jdbcType=VARCHAR}, #{boxType,jdbcType=VARCHAR}, #{receiveDate,jdbcType=DATE}, 
      #{checkinlistId,jdbcType=VARCHAR}, #{rccCode,jdbcType=VARCHAR}, #{frozentubeNum,jdbcType=DECIMAL}, 
      #{sampleNum,jdbcType=DECIMAL}, #{portion,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{receiveOperator,jdbcType=VARCHAR}, #{frozenboxId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{transDetailId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jet.scm.web.spem.domain.PipScmFrozenboxTransport">
    insert into PIP_SCM_FROZENBOX_TRANSPORT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boxCode != null">
        BOX_CODE,
      </if>
      <if test="boxType != null">
        BOX_TYPE,
      </if>
      <if test="receiveDate != null">
        RECEIVE_DATE,
      </if>
      <if test="checkinlistId != null">
        CHECKINLIST_ID,
      </if>
      <if test="rccCode != null">
        RCC_CODE,
      </if>
      <if test="frozentubeNum != null">
        FROZENTUBE_NUM,
      </if>
      <if test="sampleNum != null">
        SAMPLE_NUM,
      </if>
      <if test="portion != null">
        PORTION,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="receiveOperator != null">
        RECEIVE_OPERATOR,
      </if>
      <if test="frozenboxId != null">
        FROZENBOX_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="transDetailId != null">
        TRANS_DETAIL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boxCode != null">
        #{boxCode,jdbcType=VARCHAR},
      </if>
      <if test="boxType != null">
        #{boxType,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null">
        #{receiveDate,jdbcType=DATE},
      </if>
      <if test="checkinlistId != null">
        #{checkinlistId,jdbcType=VARCHAR},
      </if>
      <if test="rccCode != null">
        #{rccCode,jdbcType=VARCHAR},
      </if>
      <if test="frozentubeNum != null">
        #{frozentubeNum,jdbcType=DECIMAL},
      </if>
      <if test="sampleNum != null">
        #{sampleNum,jdbcType=DECIMAL},
      </if>
      <if test="portion != null">
        #{portion,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="receiveOperator != null">
        #{receiveOperator,jdbcType=VARCHAR},
      </if>
      <if test="frozenboxId != null">
        #{frozenboxId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="transDetailId != null">
        #{transDetailId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jet.scm.web.spem.domain.PipScmFrozenboxTransportExample" resultType="java.lang.Long">
    select count(*) from PIP_SCM_FROZENBOX_TRANSPORT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PIP_SCM_FROZENBOX_TRANSPORT
    <set>
      <if test="record.boxCode != null">
        BOX_CODE = #{record.boxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.boxType != null">
        BOX_TYPE = #{record.boxType,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDate != null">
        RECEIVE_DATE = #{record.receiveDate,jdbcType=DATE},
      </if>
      <if test="record.checkinlistId != null">
        CHECKINLIST_ID = #{record.checkinlistId,jdbcType=VARCHAR},
      </if>
      <if test="record.rccCode != null">
        RCC_CODE = #{record.rccCode,jdbcType=VARCHAR},
      </if>
      <if test="record.frozentubeNum != null">
        FROZENTUBE_NUM = #{record.frozentubeNum,jdbcType=DECIMAL},
      </if>
      <if test="record.sampleNum != null">
        SAMPLE_NUM = #{record.sampleNum,jdbcType=DECIMAL},
      </if>
      <if test="record.portion != null">
        PORTION = #{record.portion,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveOperator != null">
        RECEIVE_OPERATOR = #{record.receiveOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.frozenboxId != null">
        FROZENBOX_ID = #{record.frozenboxId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.transDetailId != null">
        TRANS_DETAIL_ID = #{record.transDetailId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PIP_SCM_FROZENBOX_TRANSPORT
    set BOX_CODE = #{record.boxCode,jdbcType=VARCHAR},
      BOX_TYPE = #{record.boxType,jdbcType=VARCHAR},
      RECEIVE_DATE = #{record.receiveDate,jdbcType=DATE},
      CHECKINLIST_ID = #{record.checkinlistId,jdbcType=VARCHAR},
      RCC_CODE = #{record.rccCode,jdbcType=VARCHAR},
      FROZENTUBE_NUM = #{record.frozentubeNum,jdbcType=DECIMAL},
      SAMPLE_NUM = #{record.sampleNum,jdbcType=DECIMAL},
      PORTION = #{record.portion,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      RECEIVE_OPERATOR = #{record.receiveOperator,jdbcType=VARCHAR},
      FROZENBOX_ID = #{record.frozenboxId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      TRANS_DETAIL_ID = #{record.transDetailId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <!--自定义 sql 开始-->
  <select id="getReceiveInfo" parameterType="String" resultType="com.jet.scm.web.spem.vo.ReceiveInfoVO">
    select
    distinct
    CHECKINLIST_ID as checkinlistId,
    RECEIVE_OPERATOR as receiveOperator,
    RECEIVE_DATE as receiveDate
    from PIP_SCM_FROZENBOX_TRANSPORT t
    inner join PIP_SCM_TRANS_PROC_DETAIL_BOX dbox on dbox.BOX_CODE=t.BOX_CODE
    where dbox.TRANS_DETAIL_ID = #{detailId}
  </select>

  <update id="updateBox" parameterType="map">
    update PIP_SCM_FROZENBOX_TRANSPORT tbox set RECEIVE_DATE=#{RECEIVE_DATE},CHECKINLIST_ID=#{CHECKINLIST_ID},RECEIVE_OPERATOR=#{RECEIVE_OPERATOR},
    UPDATE_TIME=#{TIME},UPDATE_BY=#{BY}
    where tbox.BOX_CODE in(select dbox.BOX_CODE from PIP_SCM_TRANS_PROC_DETAIL_BOX dbox where dbox.TRANS_DETAIL_ID=#{detailId,jdbcType=VARCHAR})
    and (RECEIVE_DATE!=#{RECEIVE_DATE} or CHECKINLIST_ID!=#{CHECKINLIST_ID} or RECEIVE_OPERATOR!=#{RECEIVE_OPERATOR})

  </update>

  <insert id="insertBox" parameterType="map">
    insert into PIP_SCM_FROZENBOX_TRANSPORT(BOX_CODE,BOX_TYPE,RECEIVE_DATE,CHECKINLIST_ID,RCC_CODE,FROZENTUBE_NUM,SAMPLE_NUM,PORTION,
    RECEIVE_OPERATOR,FROZENBOX_ID,CREATE_TIME,CREATE_BY,TRANS_DETAIL_ID)
    select
    box.BOX_CODE,box.BOX_TYPE,#{RECEIVE_DATE},#{CHECKINLIST_ID},lcc.RCC_CODE,100,100,100,#{RECEIVE_OPERATOR},box.ID,#{TIME},#{BY},#{DETAIL_ID,jdbcType=VARCHAR}

    from PIP_SCM_TRANS_PROC_DETAIL_BOX dbox
    inner join PIP_SCM_FROZENBOX box on box.BOX_CODE=dbox.BOX_CODE
    inner join PIP_COMM_LCC lcc on lcc.LCC_CODE=box.LCC_CODE
    where dbox.TRANS_DETAIL_ID = #{DETAIL_ID,jdbcType=VARCHAR}
  </insert>
</mapper>