<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jet.scm.web.spem.mapper.PipScmTransProcMasterMapper">
  <resultMap id="BaseResultMap" type="com.jet.scm.web.spem.domain.PipScmTransProcMaster">
    <id column="ID" jdbcType="VARCHAR" property="id"/>
    <result column="TRANS_NO" jdbcType="VARCHAR" property="transNo"/>
    <result column="STATUS" jdbcType="DECIMAL" property="status"/>
    <result column="BOX_COUNT" jdbcType="DECIMAL" property="boxCount"/>
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
    <result column="RCC_CODE" jdbcType="VARCHAR" property="rccCode"/>
    <result column="CREATE_BY_NAME" jdbcType="VARCHAR" property="createByName"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TRANS_NO, STATUS, BOX_COUNT, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY,
    RCC_CODE, CREATE_BY_NAME
  </sql>
  <select id="selectByExample" parameterType="com.jet.scm.web.spem.domain.PipScmTransProcMasterExample"
          resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from PIP_SCM_TRANS_PROC_MASTER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from PIP_SCM_TRANS_PROC_MASTER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PIP_SCM_TRANS_PROC_MASTER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jet.scm.web.spem.domain.PipScmTransProcMasterExample">
    delete from PIP_SCM_TRANS_PROC_MASTER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.jet.scm.web.spem.domain.PipScmTransProcMaster">
    insert into PIP_SCM_TRANS_PROC_MASTER (ID, TRANS_NO, STATUS,
    BOX_COUNT, CREATE_TIME, CREATE_BY,
    UPDATE_TIME, UPDATE_BY, RCC_CODE,
    CREATE_BY_NAME)
    values (#{id,jdbcType=VARCHAR}, #{transNo,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL},
    #{boxCount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
    #{updateTime,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}, #{rccCode,jdbcType=VARCHAR},
    #{createByName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jet.scm.web.spem.domain.PipScmTransProcMaster">
    insert into PIP_SCM_TRANS_PROC_MASTER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="transNo != null">
        TRANS_NO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="boxCount != null">
        BOX_COUNT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="rccCode != null">
        RCC_CODE,
      </if>
      <if test="createByName != null">
        CREATE_BY_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="transNo != null">
        #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="boxCount != null">
        #{boxCount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="rccCode != null">
        #{rccCode,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        #{createByName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jet.scm.web.spem.domain.PipScmTransProcMasterExample"
          resultType="java.lang.Integer">
    select count(*) from PIP_SCM_TRANS_PROC_MASTER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PIP_SCM_TRANS_PROC_MASTER
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.transNo != null">
        TRANS_NO = #{record.transNo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.boxCount != null">
        BOX_COUNT = #{record.boxCount,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.updateBy != null">
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.rccCode != null">
        RCC_CODE = #{record.rccCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createByName != null">
        CREATE_BY_NAME = #{record.createByName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PIP_SCM_TRANS_PROC_MASTER
    set ID = #{record.id,jdbcType=VARCHAR},
    TRANS_NO = #{record.transNo,jdbcType=VARCHAR},
    STATUS = #{record.status,jdbcType=DECIMAL},
    BOX_COUNT = #{record.boxCount,jdbcType=DECIMAL},
    CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
    CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
    UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
    UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
    RCC_CODE = #{record.rccCode,jdbcType=VARCHAR},
    CREATE_BY_NAME = #{record.createByName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jet.scm.web.spem.domain.PipScmTransProcMaster">
    update PIP_SCM_TRANS_PROC_MASTER
    <set>
      <if test="transNo != null">
        TRANS_NO = #{transNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="boxCount != null">
        BOX_COUNT = #{boxCount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="rccCode != null">
        RCC_CODE = #{rccCode,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        CREATE_BY_NAME = #{createByName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jet.scm.web.spem.domain.PipScmTransProcMaster">
    update PIP_SCM_TRANS_PROC_MASTER
    set TRANS_NO = #{transNo,jdbcType=VARCHAR},
    STATUS = #{status,jdbcType=DECIMAL},
    BOX_COUNT = #{boxCount,jdbcType=DECIMAL},
    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
    CREATE_BY = #{createBy,jdbcType=VARCHAR},
    UPDATE_TIME = #{updateTime,jdbcType=DATE},
    UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
    RCC_CODE = #{rccCode,jdbcType=VARCHAR},
    CREATE_BY_NAME = #{createByName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByFilter" resultMap="BaseResultMap"
          parameterType="com.jet.scm.web.spem.filter.SpemTransferFilter">
    SELECT
    <include refid="Base_Column_List"/>
    FROM PIP_SCM_TRANS_PROC_MASTER
    WHERE 1=1
    <if test="rccCode != null and rccCode != ''">
      AND RCC_CODE = #{rccCode}
    </if>
    <if test="transNo != null and transNo != ''">
      AND TRANS_NO like #{transNo}
    </if>
    <if test="status != null and status != 4">
      AND STATUS = #{status}
    </if>
    <if test="status != null and status == 4 ">
      AND (STATUS = 4 OR STATUS=5)
    </if>
    <if test="createMan != null and createMan != ''">
      AND CREATE_BY_NAME like #{createMan}
    </if>
    <if test="createStartDate != null">
      and CREATE_TIME >= #{createStartDate}
    </if>
    <if test="createEndDate != null">
      and CREATE_TIME &lt;= #{createEndDate}
    </if>
    <if test="getMan != null and getMan !=''">
      and id in(select master_id from PIP_SCM_TRANS_PROC_DETAIL where PLAN_GET_MAN_NAME like #{getMan})
    </if>
    <if test="planGetStartDate != null">
      and id in(select master_id from PIP_SCM_TRANS_PROC_DETAIL where PLAN_GET_DATE >= #{planGetStartDate})
    </if>
    <if test="planGetEndDate != null">
      and id in(select master_id from PIP_SCM_TRANS_PROC_DETAIL where PLAN_GET_DATE &lt;= #{planGetEndDate})
    </if>
    ORDER BY CREATE_TIME DESC
  </select>

  <select id="selectNoTransData" resultType="map" parameterType="com.jet.scm.web.spem.filter.SpemTransferFilter">
    select rcc.rcc_code,rcc.INITIAL_TASK/100 as INITIAL_TASK,box.noTransCount
    from pip_comm_rcc rcc
    left join (
    select substr(LCC_CODE,0,4) as rcc_code,count(1) as noTransCount
    from pip_scm_frozenbox
    where IS_CHECKIN='2' and BOX_TYPE='A'
    group by substr(LCC_CODE,0,4)) box
    on rcc.rcc_code=box.rcc_code
    where box.noTransCount is not null
    order by noTransCount desc
  </select>
</mapper>