<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jet.scm.web.spem.mapper.PipScmFrozentubeMapper" >
  <resultMap id="BaseResultMap" type="com.jet.scm.web.spem.domain.PipScmFrozentube" >
    <id column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <id column="TUBE_CODE" property="tubeCode" jdbcType="VARCHAR" />
    <id column="TUBE_TYPE" property="tubeType" jdbcType="VARCHAR" />
    <result column="BOX_CODE" property="boxCode" jdbcType="VARCHAR" />
    <result column="BOX_TYPE" property="boxType" jdbcType="VARCHAR" />
    <result column="BOX_COLNO" property="boxColno" jdbcType="DECIMAL" />
    <result column="BOX_ROWNO" property="boxRowno" jdbcType="DECIMAL" />
    <result column="BLOOD_CODE" property="bloodCode" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="IS_HEMOLYSIS" property="isHemolysis" jdbcType="DECIMAL" />
    <result column="IS_LIPID" property="isLipid" jdbcType="DECIMAL" />
    <result column="LCC_CODE" property="lccCode" jdbcType="VARCHAR" />
    <result column="IS_EMPTY" property="isEmpty" jdbcType="DECIMAL" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="TERMINAL_ID" property="terminalId" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="CLIENT_ID" property="clientId" jdbcType="VARCHAR" />
    <result column="UPDATE_FLAG" property="updateFlag" jdbcType="DECIMAL" />
    <result column="HR3_UPDATE_DATE" property="hr3UpdateDate" jdbcType="TIMESTAMP" />
    <result column="TRANS_DATE" property="transDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROJECT_ID, TUBE_CODE, TUBE_TYPE, BOX_CODE, BOX_TYPE, BOX_COLNO, BOX_ROWNO, BLOOD_CODE, 
    CREATE_DATE, CREATE_BY, REMARK, IS_HEMOLYSIS, IS_LIPID, LCC_CODE, IS_EMPTY, FILE_NAME, 
    TERMINAL_ID, ID, VERSION, CLIENT_ID, UPDATE_FLAG, HR3_UPDATE_DATE, TRANS_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentubeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PIP_SCM_FROZENTUBE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentubeKey" >
    select 
    <include refid="Base_Column_List" />
    from PIP_SCM_FROZENTUBE
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
      and TUBE_CODE = #{tubeCode,jdbcType=VARCHAR}
      and TUBE_TYPE = #{tubeType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentubeKey" >
    delete from PIP_SCM_FROZENTUBE
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
      and TUBE_CODE = #{tubeCode,jdbcType=VARCHAR}
      and TUBE_TYPE = #{tubeType,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentubeExample" >
    delete from PIP_SCM_FROZENTUBE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentube" >
    insert into PIP_SCM_FROZENTUBE (PROJECT_ID, TUBE_CODE, TUBE_TYPE, 
      BOX_CODE, BOX_TYPE, BOX_COLNO, 
      BOX_ROWNO, BLOOD_CODE, CREATE_DATE, 
      CREATE_BY, REMARK, IS_HEMOLYSIS, 
      IS_LIPID, LCC_CODE, IS_EMPTY, 
      FILE_NAME, TERMINAL_ID, ID, 
      VERSION, CLIENT_ID, UPDATE_FLAG, 
      HR3_UPDATE_DATE, TRANS_DATE)
    values (#{projectId,jdbcType=VARCHAR}, #{tubeCode,jdbcType=VARCHAR}, #{tubeType,jdbcType=VARCHAR}, 
      #{boxCode,jdbcType=VARCHAR}, #{boxType,jdbcType=VARCHAR}, #{boxColno,jdbcType=DECIMAL}, 
      #{boxRowno,jdbcType=DECIMAL}, #{bloodCode,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isHemolysis,jdbcType=DECIMAL}, 
      #{isLipid,jdbcType=DECIMAL}, #{lccCode,jdbcType=VARCHAR}, #{isEmpty,jdbcType=DECIMAL}, 
      #{fileName,jdbcType=VARCHAR}, #{terminalId,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{updateFlag,jdbcType=DECIMAL}, 
      #{hr3UpdateDate,jdbcType=TIMESTAMP}, #{transDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentube" >
    insert into PIP_SCM_FROZENTUBE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="tubeCode != null" >
        TUBE_CODE,
      </if>
      <if test="tubeType != null" >
        TUBE_TYPE,
      </if>
      <if test="boxCode != null" >
        BOX_CODE,
      </if>
      <if test="boxType != null" >
        BOX_TYPE,
      </if>
      <if test="boxColno != null" >
        BOX_COLNO,
      </if>
      <if test="boxRowno != null" >
        BOX_ROWNO,
      </if>
      <if test="bloodCode != null" >
        BLOOD_CODE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isHemolysis != null" >
        IS_HEMOLYSIS,
      </if>
      <if test="isLipid != null" >
        IS_LIPID,
      </if>
      <if test="lccCode != null" >
        LCC_CODE,
      </if>
      <if test="isEmpty != null" >
        IS_EMPTY,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="terminalId != null" >
        TERMINAL_ID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG,
      </if>
      <if test="hr3UpdateDate != null" >
        HR3_UPDATE_DATE,
      </if>
      <if test="transDate != null" >
        TRANS_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="tubeCode != null" >
        #{tubeCode,jdbcType=VARCHAR},
      </if>
      <if test="tubeType != null" >
        #{tubeType,jdbcType=VARCHAR},
      </if>
      <if test="boxCode != null" >
        #{boxCode,jdbcType=VARCHAR},
      </if>
      <if test="boxType != null" >
        #{boxType,jdbcType=VARCHAR},
      </if>
      <if test="boxColno != null" >
        #{boxColno,jdbcType=DECIMAL},
      </if>
      <if test="boxRowno != null" >
        #{boxRowno,jdbcType=DECIMAL},
      </if>
      <if test="bloodCode != null" >
        #{bloodCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isHemolysis != null" >
        #{isHemolysis,jdbcType=DECIMAL},
      </if>
      <if test="isLipid != null" >
        #{isLipid,jdbcType=DECIMAL},
      </if>
      <if test="lccCode != null" >
        #{lccCode,jdbcType=VARCHAR},
      </if>
      <if test="isEmpty != null" >
        #{isEmpty,jdbcType=DECIMAL},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null" >
        #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        #{updateFlag,jdbcType=DECIMAL},
      </if>
      <if test="hr3UpdateDate != null" >
        #{hr3UpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transDate != null" >
        #{transDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentubeExample" resultType="java.lang.Integer" >
    select count(*) from PIP_SCM_FROZENTUBE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PIP_SCM_FROZENTUBE
    <set >
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.tubeCode != null" >
        TUBE_CODE = #{record.tubeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tubeType != null" >
        TUBE_TYPE = #{record.tubeType,jdbcType=VARCHAR},
      </if>
      <if test="record.boxCode != null" >
        BOX_CODE = #{record.boxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.boxType != null" >
        BOX_TYPE = #{record.boxType,jdbcType=VARCHAR},
      </if>
      <if test="record.boxColno != null" >
        BOX_COLNO = #{record.boxColno,jdbcType=DECIMAL},
      </if>
      <if test="record.boxRowno != null" >
        BOX_ROWNO = #{record.boxRowno,jdbcType=DECIMAL},
      </if>
      <if test="record.bloodCode != null" >
        BLOOD_CODE = #{record.bloodCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isHemolysis != null" >
        IS_HEMOLYSIS = #{record.isHemolysis,jdbcType=DECIMAL},
      </if>
      <if test="record.isLipid != null" >
        IS_LIPID = #{record.isLipid,jdbcType=DECIMAL},
      </if>
      <if test="record.lccCode != null" >
        LCC_CODE = #{record.lccCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isEmpty != null" >
        IS_EMPTY = #{record.isEmpty,jdbcType=DECIMAL},
      </if>
      <if test="record.fileName != null" >
        FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.terminalId != null" >
        TERMINAL_ID = #{record.terminalId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.clientId != null" >
        CLIENT_ID = #{record.clientId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateFlag != null" >
        UPDATE_FLAG = #{record.updateFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.hr3UpdateDate != null" >
        HR3_UPDATE_DATE = #{record.hr3UpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transDate != null" >
        TRANS_DATE = #{record.transDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PIP_SCM_FROZENTUBE
    set PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      TUBE_CODE = #{record.tubeCode,jdbcType=VARCHAR},
      TUBE_TYPE = #{record.tubeType,jdbcType=VARCHAR},
      BOX_CODE = #{record.boxCode,jdbcType=VARCHAR},
      BOX_TYPE = #{record.boxType,jdbcType=VARCHAR},
      BOX_COLNO = #{record.boxColno,jdbcType=DECIMAL},
      BOX_ROWNO = #{record.boxRowno,jdbcType=DECIMAL},
      BLOOD_CODE = #{record.bloodCode,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      IS_HEMOLYSIS = #{record.isHemolysis,jdbcType=DECIMAL},
      IS_LIPID = #{record.isLipid,jdbcType=DECIMAL},
      LCC_CODE = #{record.lccCode,jdbcType=VARCHAR},
      IS_EMPTY = #{record.isEmpty,jdbcType=DECIMAL},
      FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      TERMINAL_ID = #{record.terminalId,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=VARCHAR},
      VERSION = #{record.version,jdbcType=VARCHAR},
      CLIENT_ID = #{record.clientId,jdbcType=VARCHAR},
      UPDATE_FLAG = #{record.updateFlag,jdbcType=DECIMAL},
      HR3_UPDATE_DATE = #{record.hr3UpdateDate,jdbcType=TIMESTAMP},
      TRANS_DATE = #{record.transDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentube" >
    update PIP_SCM_FROZENTUBE
    <set >
      <if test="boxCode != null" >
        BOX_CODE = #{boxCode,jdbcType=VARCHAR},
      </if>
      <if test="boxType != null" >
        BOX_TYPE = #{boxType,jdbcType=VARCHAR},
      </if>
      <if test="boxColno != null" >
        BOX_COLNO = #{boxColno,jdbcType=DECIMAL},
      </if>
      <if test="boxRowno != null" >
        BOX_ROWNO = #{boxRowno,jdbcType=DECIMAL},
      </if>
      <if test="bloodCode != null" >
        BLOOD_CODE = #{bloodCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isHemolysis != null" >
        IS_HEMOLYSIS = #{isHemolysis,jdbcType=DECIMAL},
      </if>
      <if test="isLipid != null" >
        IS_LIPID = #{isLipid,jdbcType=DECIMAL},
      </if>
      <if test="lccCode != null" >
        LCC_CODE = #{lccCode,jdbcType=VARCHAR},
      </if>
      <if test="isEmpty != null" >
        IS_EMPTY = #{isEmpty,jdbcType=DECIMAL},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null" >
        TERMINAL_ID = #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null" >
        CLIENT_ID = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG = #{updateFlag,jdbcType=DECIMAL},
      </if>
      <if test="hr3UpdateDate != null" >
        HR3_UPDATE_DATE = #{hr3UpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transDate != null" >
        TRANS_DATE = #{transDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
      and TUBE_CODE = #{tubeCode,jdbcType=VARCHAR}
      and TUBE_TYPE = #{tubeType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jet.scm.web.spem.domain.PipScmFrozentube" >
    update PIP_SCM_FROZENTUBE
    set BOX_CODE = #{boxCode,jdbcType=VARCHAR},
      BOX_TYPE = #{boxType,jdbcType=VARCHAR},
      BOX_COLNO = #{boxColno,jdbcType=DECIMAL},
      BOX_ROWNO = #{boxRowno,jdbcType=DECIMAL},
      BLOOD_CODE = #{bloodCode,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      IS_HEMOLYSIS = #{isHemolysis,jdbcType=DECIMAL},
      IS_LIPID = #{isLipid,jdbcType=DECIMAL},
      LCC_CODE = #{lccCode,jdbcType=VARCHAR},
      IS_EMPTY = #{isEmpty,jdbcType=DECIMAL},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      TERMINAL_ID = #{terminalId,jdbcType=VARCHAR},
      ID = #{id,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      CLIENT_ID = #{clientId,jdbcType=VARCHAR},
      UPDATE_FLAG = #{updateFlag,jdbcType=DECIMAL},
      HR3_UPDATE_DATE = #{hr3UpdateDate,jdbcType=TIMESTAMP},
      TRANS_DATE = #{transDate,jdbcType=TIMESTAMP}
    where PROJECT_ID = #{projectId,jdbcType=VARCHAR}
      and TUBE_CODE = #{tubeCode,jdbcType=VARCHAR}
      and TUBE_TYPE = #{tubeType,jdbcType=VARCHAR}
  </update>

</mapper>