<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jet.scm.web.sys.mapper.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.jet.scm.web.sys.domain.SysLoginLog">
    <id column="ID" property="id" jdbcType="VARCHAR"/>
    <result column="MACHINE_NAME" property="machineName" jdbcType="VARCHAR"/>
    <result column="LOGIN_TIME" property="loginTime" jdbcType="TIMESTAMP"/>
    <result column="LOGOUT_TIME" property="logoutTime" jdbcType="TIMESTAMP"/>
    <result column="MACHINE_IP" property="machineIp" jdbcType="VARCHAR"/>
    <result column="IS_SUCCESS" property="isSuccess" jdbcType="DECIMAL"/>
    <result column="IS_VALID" property="isValid" jdbcType="DECIMAL"/>
    <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR"/>
    <result column="USER_AGENT" property="userAgent" jdbcType="VARCHAR"/>
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
    <result column="IS_ONLINE" property="isOnline" jdbcType="DECIMAL"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MACHINE_NAME, LOGIN_TIME, LOGOUT_TIME, MACHINE_IP, IS_SUCCESS, IS_VALID, REMARK, 
    ACCOUNT_ID, USER_AGENT, LOGIN_NAME, IS_ONLINE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jet.scm.web.sys.domain.SysLoginLogExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from SYS_LOGIN_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from SYS_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jet.scm.web.sys.domain.SysLoginLogExample">
    delete from SYS_LOGIN_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.jet.scm.web.sys.domain.SysLoginLog">
    insert into SYS_LOGIN_LOG (ID, MACHINE_NAME, LOGIN_TIME, 
      LOGOUT_TIME, MACHINE_IP, IS_SUCCESS, 
      IS_VALID, REMARK, ACCOUNT_ID, 
      USER_AGENT, LOGIN_NAME, IS_ONLINE
      )
    values (#{id,jdbcType=VARCHAR}, #{machineName,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{logoutTime,jdbcType=TIMESTAMP}, #{machineIp,jdbcType=VARCHAR}, #{isSuccess,jdbcType=DECIMAL}, 
      #{isValid,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{userAgent,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{isOnline,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jet.scm.web.sys.domain.SysLoginLog">
    insert into SYS_LOGIN_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="machineName != null">
        MACHINE_NAME,
      </if>
      <if test="loginTime != null">
        LOGIN_TIME,
      </if>
      <if test="logoutTime != null">
        LOGOUT_TIME,
      </if>
      <if test="machineIp != null">
        MACHINE_IP,
      </if>
      <if test="isSuccess != null">
        IS_SUCCESS,
      </if>
      <if test="isValid != null">
        IS_VALID,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="userAgent != null">
        USER_AGENT,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="isOnline != null">
        IS_ONLINE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="machineName != null">
        #{machineName,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="machineIp != null">
        #{machineIp,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null">
        #{isSuccess,jdbcType=DECIMAL},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null">
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null">
        #{isOnline,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jet.scm.web.sys.domain.SysLoginLogExample" resultType="java.lang.Integer">
    select count(*) from SYS_LOGIN_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_LOGIN_LOG
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.machineName != null">
        MACHINE_NAME = #{record.machineName,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTime != null">
        LOGIN_TIME = #{record.loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logoutTime != null">
        LOGOUT_TIME = #{record.logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.machineIp != null">
        MACHINE_IP = #{record.machineIp,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuccess != null">
        IS_SUCCESS = #{record.isSuccess,jdbcType=DECIMAL},
      </if>
      <if test="record.isValid != null">
        IS_VALID = #{record.isValid,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.userAgent != null">
        USER_AGENT = #{record.userAgent,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.isOnline != null">
        IS_ONLINE = #{record.isOnline,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_LOGIN_LOG
    set ID = #{record.id,jdbcType=VARCHAR},
    MACHINE_NAME = #{record.machineName,jdbcType=VARCHAR},
    LOGIN_TIME = #{record.loginTime,jdbcType=TIMESTAMP},
    LOGOUT_TIME = #{record.logoutTime,jdbcType=TIMESTAMP},
    MACHINE_IP = #{record.machineIp,jdbcType=VARCHAR},
    IS_SUCCESS = #{record.isSuccess,jdbcType=DECIMAL},
    IS_VALID = #{record.isValid,jdbcType=DECIMAL},
    REMARK = #{record.remark,jdbcType=VARCHAR},
    ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
    USER_AGENT = #{record.userAgent,jdbcType=VARCHAR},
    LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
    IS_ONLINE = #{record.isOnline,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jet.scm.web.sys.domain.SysLoginLog">
    update SYS_LOGIN_LOG
    <set>
      <if test="machineName != null">
        MACHINE_NAME = #{machineName,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        LOGOUT_TIME = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="machineIp != null">
        MACHINE_IP = #{machineIp,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null">
        IS_SUCCESS = #{isSuccess,jdbcType=DECIMAL},
      </if>
      <if test="isValid != null">
        IS_VALID = #{isValid,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null">
        USER_AGENT = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null">
        IS_ONLINE = #{isOnline,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jet.scm.web.sys.domain.SysLoginLog">
    update SYS_LOGIN_LOG
    set MACHINE_NAME = #{machineName,jdbcType=VARCHAR},
      LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      LOGOUT_TIME = #{logoutTime,jdbcType=TIMESTAMP},
      MACHINE_IP = #{machineIp,jdbcType=VARCHAR},
      IS_SUCCESS = #{isSuccess,jdbcType=DECIMAL},
      IS_VALID = #{isValid,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      USER_AGENT = #{userAgent,jdbcType=VARCHAR},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      IS_ONLINE = #{isOnline,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByFilter" resultType="com.jet.scm.web.sys.domain.SysLoginLog" parameterType="com.jet.scm.web.sys.filter.LoginLogFilter">
    select
      l.ID id,
      l.ACCOUNT_ID accountId,
      l.LOGIN_TIME loginTime,
      l.LOGOUT_TIME logoutTime,
      l.MACHINE_IP machineIp,
      l.IS_SUCCESS isSuccess,
      l.IS_VALID isValid,
      l.REMARK remark,
      a.NAME loginName
    from SYS_LOGIN_LOG l left join SYS_ACCOUNT a on l.ACCOUNT_ID = a.ID
    where 1=1
    <if test="accountId != null and accountId != ''">
      and l.ACCOUNT_ID = #{accountId, jdbcType=VARCHAR}
    </if>
    <if test="machineIp != null and machineIp != ''">
      and l.MACHINE_IP = #{machineIp, jdbcType=VARCHAR}
    </if>
    <if test="isSuccess != null">
      and l.IS_SUCCESS = #{isSuccess, jdbcType=SMALLINT}
    </if>
    <if test="isValid != null">
      and l.IS_VALID = #{isValid, jdbcType=SMALLINT}
    </if>
    <if test="startLoginTime != null">
      and trunc(l.LOGIN_TIME, 'dd') &gt;= #{startLoginTime, jdbcType=DATE}
    </if>
    <if test="endLoginTime != null">
      and trunc(l.LOGIN_TIME, 'dd') &lt;= #{endLoginTime, jdbcType=DATE}
    </if>
    <if test="startLogoutTime != null">
      and trunc(l.LOGOUT_TIME, 'dd') &gt;= #{startLogoutTime, jdbcType=DATE}
    </if>
    <if test="endLogoutTime != null">
      and trunc(l.LOGOUT_TIME, 'dd') &lt;= #{endLogoutTime, jdbcType=DATE}
    </if>
    order by l.LOGIN_TIME desc
  </select>
</mapper>