<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jet.scm.web.sys.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.jet.scm.web.sys.domain.SysPermission">
    <id column="ID" property="id" jdbcType="VARCHAR"/>
    <result column="NAME" property="name" jdbcType="VARCHAR"/>
    <result column="CODE" property="code" jdbcType="VARCHAR"/>
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
    <result column="PERMISSION_LEVEL" property="permissionLevel" jdbcType="DECIMAL"/>
    <result column="SEQUENCE" property="sequence" jdbcType="DECIMAL"/>
    <result column="IS_LEAF" property="isLeaf" jdbcType="DECIMAL"/>
    <result column="URL" property="url" jdbcType="VARCHAR"/>
    <result column="MODULE_ID" property="moduleId" jdbcType="VARCHAR"/>
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR"/>
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP"/>
    <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    <result column="IS_DELETE" property="isDelete" jdbcType="DECIMAL"/>
    <result column="PERMISSION_TYPE" property="permissionType" jdbcType="DECIMAL"/>
    <result column="IS_RESOURCE" property="isResource" jdbcType="DECIMAL"/>
    <result column="HELP_CODE" property="helpCode" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, CODE, PARENT_ID, PERMISSION_LEVEL, SEQUENCE, IS_LEAF, URL, MODULE_ID, CREATE_USER,
    CREATE_DATETIME, UPDATE_USER, UPDATE_DATETIME, REMARK, IS_DELETE, PERMISSION_TYPE,
    IS_RESOURCE, HELP_CODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jet.scm.web.sys.domain.SysPermissionExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from SYS_PERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from SYS_PERMISSION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_PERMISSION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jet.scm.web.sys.domain.SysPermissionExample">
    delete from SYS_PERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.jet.scm.web.sys.domain.SysPermission">
    insert into SYS_PERMISSION (ID, NAME, CODE,
    PARENT_ID, PERMISSION_LEVEL, SEQUENCE,
    IS_LEAF, URL, MODULE_ID,
    CREATE_USER, CREATE_DATETIME, UPDATE_USER,
    UPDATE_DATETIME, REMARK, IS_DELETE,
    PERMISSION_TYPE, IS_RESOURCE, HELP_CODE
    )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
    #{parentId,jdbcType=VARCHAR}, #{permissionLevel,jdbcType=DECIMAL}, #{sequence,jdbcType=DECIMAL},
    #{isLeaf,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR}, #{moduleId,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
    #{updateDatetime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=DECIMAL},
    #{permissionType,jdbcType=DECIMAL}, #{isResource,jdbcType=DECIMAL}, #{helpCode,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.jet.scm.web.sys.domain.SysPermission">
    insert into SYS_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="permissionLevel != null">
        PERMISSION_LEVEL,
      </if>
      <if test="sequence != null">
        SEQUENCE,
      </if>
      <if test="isLeaf != null">
        IS_LEAF,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="moduleId != null">
        MODULE_ID,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDatetime != null">
        CREATE_DATETIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateDatetime != null">
        UPDATE_DATETIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
      <if test="permissionType != null">
        PERMISSION_TYPE,
      </if>
      <if test="isResource != null">
        IS_RESOURCE,
      </if>
      <if test="helpCode != null">
        HELP_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionLevel != null">
        #{permissionLevel,jdbcType=DECIMAL},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null">
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=DECIMAL},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=DECIMAL},
      </if>
      <if test="isResource != null">
        #{isResource,jdbcType=DECIMAL},
      </if>
      <if test="helpCode != null">
        #{helpCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jet.scm.web.sys.domain.SysPermissionExample" resultType="java.lang.Integer">
    select count(*) from SYS_PERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_PERMISSION
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionLevel != null">
        PERMISSION_LEVEL = #{record.permissionLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.sequence != null">
        SEQUENCE = #{record.sequence,jdbcType=DECIMAL},
      </if>
      <if test="record.isLeaf != null">
        IS_LEAF = #{record.isLeaf,jdbcType=DECIMAL},
      </if>
      <if test="record.url != null">
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null">
        MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDatetime != null">
        CREATE_DATETIME = #{record.createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDatetime != null">
        UPDATE_DATETIME = #{record.updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.permissionType != null">
        PERMISSION_TYPE = #{record.permissionType,jdbcType=DECIMAL},
      </if>
      <if test="record.isResource != null">
        IS_RESOURCE = #{record.isResource,jdbcType=DECIMAL},
      </if>
      <if test="record.helpCode != null">
        HELP_CODE = #{record.helpCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_PERMISSION
    set ID = #{record.id,jdbcType=VARCHAR},
    NAME = #{record.name,jdbcType=VARCHAR},
    CODE = #{record.code,jdbcType=VARCHAR},
    PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
    PERMISSION_LEVEL = #{record.permissionLevel,jdbcType=DECIMAL},
    SEQUENCE = #{record.sequence,jdbcType=DECIMAL},
    IS_LEAF = #{record.isLeaf,jdbcType=DECIMAL},
    URL = #{record.url,jdbcType=VARCHAR},
    MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
    CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
    CREATE_DATETIME = #{record.createDatetime,jdbcType=TIMESTAMP},
    UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
    UPDATE_DATETIME = #{record.updateDatetime,jdbcType=TIMESTAMP},
    REMARK = #{record.remark,jdbcType=VARCHAR},
    IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
    PERMISSION_TYPE = #{record.permissionType,jdbcType=DECIMAL},
    IS_RESOURCE = #{record.isResource,jdbcType=DECIMAL},
    HELP_CODE = #{record.helpCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jet.scm.web.sys.domain.SysPermission">
    update SYS_PERMISSION
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionLevel != null">
        PERMISSION_LEVEL = #{permissionLevel,jdbcType=DECIMAL},
      </if>
      <if test="sequence != null">
        SEQUENCE = #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="isLeaf != null">
        IS_LEAF = #{isLeaf,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null">
        UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=DECIMAL},
      </if>
      <if test="permissionType != null">
        PERMISSION_TYPE = #{permissionType,jdbcType=DECIMAL},
      </if>
      <if test="isResource != null">
        IS_RESOURCE = #{isResource,jdbcType=DECIMAL},
      </if>
      <if test="helpCode != null">
        HELP_CODE = #{helpCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jet.scm.web.sys.domain.SysPermission">
    update SYS_PERMISSION
    set NAME = #{name,jdbcType=VARCHAR},
    CODE = #{code,jdbcType=VARCHAR},
    PARENT_ID = #{parentId,jdbcType=VARCHAR},
    PERMISSION_LEVEL = #{permissionLevel,jdbcType=DECIMAL},
    SEQUENCE = #{sequence,jdbcType=DECIMAL},
    IS_LEAF = #{isLeaf,jdbcType=DECIMAL},
    URL = #{url,jdbcType=VARCHAR},
    MODULE_ID = #{moduleId,jdbcType=VARCHAR},
    CREATE_USER = #{createUser,jdbcType=VARCHAR},
    CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
    UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
    UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
    REMARK = #{remark,jdbcType=VARCHAR},
    IS_DELETE = #{isDelete,jdbcType=DECIMAL},
    PERMISSION_TYPE = #{permissionType,jdbcType=DECIMAL},
    IS_RESOURCE = #{isResource,jdbcType=DECIMAL},
    HELP_CODE = #{helpCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>