<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jet.scm.web.dict.mapper.JetCommDictBioErCodeMapper" >
  <resultMap id="BaseResultMap" type="com.jet.scm.web.dict.domain.JetCommDictBioErCode" >
    <result column="DICT_CODE" property="dictCode" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="dictName" jdbcType="VARCHAR" />
    <result column="VCODE" property="vcode" jdbcType="VARCHAR" />
    <result column="VNAME" property="vname" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
    <result column="IS_REMOVED" property="isRemoved" jdbcType="DECIMAL" />
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="IS_OPERATE" property="isOperate" jdbcType="DECIMAL" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="CHECK_LEVEL" property="checkLevel" jdbcType="DECIMAL" />
    <result column="HELP_CODE" property="helpCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DICT_CODE, DICT_NAME, VCODE, VNAME, REMARK, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE,
    IS_REMOVED, ID, IS_OPERATE, PARENT_ID, CHECK_LEVEL, HELP_CODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jet.scm.web.dict.domain.JetCommDictBioErCodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from JET_COMM_DICT_BIO_ER_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jet.scm.web.dict.domain.JetCommDictBioErCodeExample" >
    delete from JET_COMM_DICT_BIO_ER_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jet.scm.web.dict.domain.JetCommDictBioErCode" >
    insert into JET_COMM_DICT_BIO_ER_CODE (DICT_CODE, DICT_NAME, VCODE,
      VNAME, REMARK, CREATE_BY,
      CREATE_DATE, UPDATE_BY, UPDATE_DATE,
      IS_REMOVED, ID, IS_OPERATE,
      PARENT_ID, CHECK_LEVEL, HELP_CODE
      )
    values (#{dictCode,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, #{vcode,jdbcType=VARCHAR},
      #{vname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE},
      #{isRemoved,jdbcType=DECIMAL}, #{id,jdbcType=VARCHAR}, #{isOperate,jdbcType=DECIMAL},
      #{parentId,jdbcType=VARCHAR}, #{checkLevel,jdbcType=DECIMAL}, #{helpCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jet.scm.web.dict.domain.JetCommDictBioErCode" >
    insert into JET_COMM_DICT_BIO_ER_CODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictCode != null" >
        DICT_CODE,
      </if>
      <if test="dictName != null" >
        DICT_NAME,
      </if>
      <if test="vcode != null" >
        VCODE,
      </if>
      <if test="vname != null" >
        VNAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="isRemoved != null" >
        IS_REMOVED,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="isOperate != null" >
        IS_OPERATE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="checkLevel != null" >
        CHECK_LEVEL,
      </if>
      <if test="helpCode != null" >
        HELP_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictCode != null" >
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="vcode != null" >
        #{vcode,jdbcType=VARCHAR},
      </if>
      <if test="vname != null" >
        #{vname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="isRemoved != null" >
        #{isRemoved,jdbcType=DECIMAL},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isOperate != null" >
        #{isOperate,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="checkLevel != null" >
        #{checkLevel,jdbcType=DECIMAL},
      </if>
      <if test="helpCode != null" >
        #{helpCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jet.scm.web.dict.domain.JetCommDictBioErCodeExample" resultType="java.lang.Integer" >
    select count(*) from JET_COMM_DICT_BIO_ER_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update JET_COMM_DICT_BIO_ER_CODE
    <set >
      <if test="record.dictCode != null" >
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null" >
        DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.vcode != null" >
        VCODE = #{record.vcode,jdbcType=VARCHAR},
      </if>
      <if test="record.vname != null" >
        VNAME = #{record.vname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=DATE},
      </if>
      <if test="record.isRemoved != null" >
        IS_REMOVED = #{record.isRemoved,jdbcType=DECIMAL},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.isOperate != null" >
        IS_OPERATE = #{record.isOperate,jdbcType=DECIMAL},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkLevel != null" >
        CHECK_LEVEL = #{record.checkLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.helpCode != null" >
        HELP_CODE = #{record.helpCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update JET_COMM_DICT_BIO_ER_CODE
    set DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      VCODE = #{record.vcode,jdbcType=VARCHAR},
      VNAME = #{record.vname,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=DATE},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=DATE},
      IS_REMOVED = #{record.isRemoved,jdbcType=DECIMAL},
      ID = #{record.id,jdbcType=VARCHAR},
      IS_OPERATE = #{record.isOperate,jdbcType=DECIMAL},
      PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      CHECK_LEVEL = #{record.checkLevel,jdbcType=DECIMAL},
      HELP_CODE = #{record.helpCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from PIP_COMM_DICT_BIO_ER_CODE
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectBioErCodeList" resultMap="BaseResultMap" parameterType="com.jet.scm.web.dict.domain.JetCommDictBioErCode">
    select
    <include refid="Base_Column_List"/>
    from JET_COMM_DICT_BIO_ER_CODE
    where (IS_REMOVED != 1 or IS_REMOVED is null)
    <if test="dictCode != null and dictCode != ''">
      AND DICT_CODE = #{dictCode,jdbcType=VARCHAR}
    </if>
    <if test="dictName != null and dictName != ''">
      AND DICT_NAME = #{dictName,jdbcType=VARCHAR}
    </if>
    <if test="vcode != null and vcode != ''">
      AND VCODE = #{vcode,jdbcType=VARCHAR}
    </if>
    <if test="vname != null and vname != ''">
      AND VNAME = #{vname,jdbcType=VARCHAR}
    </if>
    <if test="remark != null and remark != ''">
      AND REMARK = #{remark,jdbcType=VARCHAR}
    </if>
    order by VCODE ASC
  </select>
</mapper>